.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  
  &[data-redcolor="true"] {
    background-color: var(--red);
  }

  &:disabled {
    background-color: var(--red-light);
  }

  background-color: var(--blue);
  border: 0;
  border-radius: 0.3rem;

  color: var(--white-200);
  font-weight: 600;
  font-size: 0.8rem;

  transition: background-color 0.2s;

  &:hover {

    &:not(:disabled) {
      background-color: var(--blue-dark);
  
      &[data-redcolor="true"] {
        background-color: var(--red-dark);
      }
    }
  }
}