.indexer__container {

  td {
    color: var(--black);
    font-weight: 600;
    font-size: 0.8rem;

    border-bottom: 1px solid var(--gray-100);
    padding: 0.3rem 0;

    &:last-child {
      div {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
      }
      

      button:first-child {
        width: 1.7rem;
        height: 1.7rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0;
        border-radius: 0.2rem;
        background-color: var(--blue);

        svg {
          color: #FFF;
        }

      }
  }
  }
  
}